.title {
    /* Size */

    /* Position */
    text-align: center;

    /* Style */

    /* Behavior */
}

.mainFrame {
    /* Size */
    height: 750px;

    /* Position */
    margin-left: 15%;
    margin-right: 15%;

    /* Style */
    background-color: lightgray;

    /* Behavior */ 
}

.sidebar {
    /* Size */
    width: 100px; 
    height: 750px;

    /* Position */
    position: absolute;

    /* Style */
    background-color: darkgrey; /* Set the background color of the sidebar */

    /* Behavior */
  }
  
 .contentFrame {
    /* Size */
    height: 750px;

    /* Position */
    margin-left: 100px;

    /* Style */
    background-color: gray;

    /* Behavior */
    overflow-y: scroll;
 }

.openFolder {
/* Size */

/* Position */

 /* Style */

/* Behavior */

}