<h1 class="title">eTester</h1>
<div class="mainFrame">
  <app-sidebar
    class="sidebar"
    [folderOpen]="folderOpen"
    (editClicked)="onEditClicked()"
    (runClicked)="onRunClicked()"
  ></app-sidebar>

  <div [ngSwitch]="currentView" class="contentFrame">
    <app-home-view
      *ngSwitchDefault
      (openFolderClicked)="onOpenFolder($event)"
    ></app-home-view>

    <app-test-edit-view *ngSwitchCase="'edit'"></app-test-edit-view>

    <app-test-run-view *ngSwitchCase="'run'"></app-test-run-view>
  </div>
</div>
