.title {
    /* Size */

    /* Position */
    text-align: center;

    /* Style */

    /* Behavior */
}

.mainFrame {
    /* Size */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    /* Position */

    /* Style */
    background-color: black;
    color: white;

    /* Behavior */ 
}

.sidebar {
    /* Size */
    width: 70px; 

    /* Position */
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 30px 10px;

    /* Style */
    background-color: rgb(30, 30, 30); /* Set the background color of the sidebar */
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    /* Behavior */
  }
  
.contentFrame {
  /* Size */
  /* Position */
  position: absolute;
  left: 70px;
  top: 0;
  bottom: 0;
  right: 0;
  /* Style */
  /* Behavior */
  overflow-y: overlay;
}


.openFolder {
/* Size */

/* Position */

 /* Style */

/* Behavior */

}


@media (min-width: 1200px) {
    /* Adjusts main frame width to 70% for large screens */
    .mainFrame {
      margin-left: 15%;
      margin-right: 15%;
      border-radius: 20px;
      margin-top: 50px;
      margin-bottom: 50px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);

    }

}
