.mainFrame {
    background-color: rgb(30, 30, 30);
    padding: 50px 30px;
}

.codeViewButton {
    /* Size */
    
    /* Position */
    display: flex;
    justify-content: center;
    
     /* Style */
    
    /* Behavior */
    
    }
    
    .copyToClipboardButton, .closeCodeButton {
    /* Size */

    
    /* Position */
    margin-left: 10px;
    
     /* Style */
    
    /* Behavior */
    
    }