.folderName {
/* Size */

/* Position */
text-align: center;

 /* Style */

/* Behavior */

}


.buttonsDiv {
/* Size */


/* Position */
display: flex;
flex-direction: column;
align-items: center;
justify-content:center;

 /* Style */

/* Behavior */

}


button {
    /* Size */
    
    /* Position */
    
     /* Style */
     padding: 15px;
     margin-top: 20px;
    
    /* Behavior */
    
}
    