.mainFrame {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
  }
  
  .icon-link {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    margin-bottom: 20px;
  }

  .icon-link-small {
    font-size: 1.9rem;
  }  

  .folderName {
    position: absolute;
    top: 20px;
  }
  