.mainContainer {
    position: relative;
  }
  
  
.sidebarContainer {
/* sidebar container styles */
position: sticky;
top: 0;
height: 100vh;
}

.sidebar {
    /* sidebar styles */
    position: relative;
    background-color: rgb(30, 30, 30);
    color: white;
    height: 100%;
    overflow-y: auto;
 }

 .contentFrame {
    /* Size */

    /* Position */
    padding: 30px;

    /* Style */

    /* Behavior */
    overflow-y: auto;
    overflow-x: hidden;

 }
 
 .paramContainer {
    margin: 10px 0px;
 }

 .paramElement {
    margin-right: 10px;
 }


 .header {
    /* Size */
    width: 100%;

   
    /* Position */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
     /* Style */
    margin: 5px;

    /* Behavior */
    
}

.deleteButtonContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
  
