<div class="mainContainer row">
  <div class="sidebarContainer col-md-3">
    <!-- SIDEBAR -->
    <div class="sidebar">
      <app-step-nav-bar class="sidebar"></app-step-nav-bar>
    </div>
  </div>

  <div class="contentContainer col-md-9 row">
    <div *ngIf="selectedStep" class="contentFrame">
      <div class="header element">
        <a [routerLink]="['/edit']" routerLinkActive="defineClass">Return</a>
        <h3>Define your own reusable step</h3>
        <button (click)="onSave()" class="btn btn-primary">Save</button>
      </div>

      <div class="mb-3">
        <label class="form-label">Name</label>
        <input
          class="form-control"
          type="text"
          placeholder="Name"
          [(ngModel)]="selectedStep!.title"
        />
      </div>

      <div class="mb-3">
        <label class="form-label">Description</label>
        <textarea
          class="form-control"
          [(ngModel)]="selectedStep!.description"
          rows="3"
        ></textarea>
      </div>

      <div class="mb-3">
        <label class="form-label">Command Type</label>
        <select
          class="form-select"
          id="combo"
          name="combo"
          [(ngModel)]="selectedStepType"
          (ngModelChange)="onStepTypeSelectionChange($event)"
        >
          <option *ngFor="let stepType of getStepTypes()" [value]="stepType">
            {{ stepType }}
          </option>
        </select>
      </div>

      <div class="codeArea">
        <label class="form-label">Code</label>
        <textarea
          class="form-control"
          placeholder="Write your code here"
          [(ngModel)]="selectedStep!.code"
          rows="5"
        ></textarea>

        <div class="row paramContainer">
          <input
            class="form-control col paramElement"
            type="text"
            placeholder="Param name"
            [(ngModel)]="paramName"
          />
          <select
            class="element form-select col paramElement"
            id="combo"
            name="combo"
            [(ngModel)]="paramType"
            (ngModelChange)="onParamTypeSelectionChange($event)"
          >
            <option
              *ngFor="let paramType of getParamTypes()"
              [value]="paramType"
            >
              {{ paramType }}
            </option>
          </select>
          <button class="btn btn-light col-md-1" (click)="onAddParam()">
            Add
          </button>
        </div>
      </div>

      <div class="deleteButtonContainer">
        <button (click)="onDeleteStep()" class="element btn btn-danger">
          <i class="bi bi-trash"></i>
          Delete Step
        </button>
      </div>
    </div>
  </div>
</div>
