<div class="card">
  <div class="card-body">
    <h4 class="card-title">{{ step.title }}</h4>
    <p class="card-text">{{ step.description }}</p>
    <div *ngFor="let param of step.params" class="card-param">
      <label for="{{ param.name }}"
        ><b
          ><i>{{ param.name }} ({{ param.type }})</i></b
        ></label
      >
      <textarea
        id="{{ param.name }}"
        class="form-control"
        [(ngModel)]="param.value"
        rows="{{ getRowCount(param.value) }}"
      ></textarea>
    </div>
  </div>
</div>
