<div *ngIf="showCode" class="codeView">
  <app-code-view [test]="test" (closeClick)="onCloseCodeClick()" />
</div>

<app-test-nav-bar class="sidebar"></app-test-nav-bar>
<div *ngIf="selectedFile" class="contentFrame">
  <button (click)="onGenerateCodeClick()" class="generateCodeButton">
    Generate Code
  </button>

  <div class="headersSection">
    <div class="headerElement">
      Name
      <input
        type="text"
        placeholder="Name"
        [(ngModel)]="selectedFile!.title"
        (change)="onTestNameChange($event)"
      />
    </div>

    <div class="headerElement">
      Description
      <input
        type="text"
        placeholder="Description"
        [(ngModel)]="test.description"
      />
    </div>

    <div class="headerElement">
      Prerequisites
      <input
        type="text"
        placeholder="Prerequisite"
        [(ngModel)]="test.prerequisites"
      />
    </div>

    <div class="headerElement">
      Author
      <input type="text" placeholder="Author" [(ngModel)]="test.author" />
    </div>

    <div>
      <label for="checkbox">Test a device</label>
      <input
        type="checkbox"
        id="checkbox"
        name="checkbox"
        [(ngModel)]="isDeviceTypeTest"
        (change)="onDeviceCheckboxSelectionChange($event)"
      />

      <select
        id="combo"
        name="combo"
        [(ngModel)]="selectedDeviceType"
        (ngModelChange)="onDeviceTypeSelectionChange($event)"
      >
        <option *ngFor="let deviceType of deviceTypes" [value]="deviceType">
          {{ deviceType }}
        </option>
      </select>

      <label for="text">Device name:</label>
      <input type="text" id="text" name="text" [(ngModel)]="test.deviceName" />
    </div>
  </div>

  <div class="scenarioSection">
    <h2>Scenario</h2>

    <div *ngFor="let step of test.steps; let i = index" class="stepElement">
      <app-step-view class="flex-grow" [step]="step" [index]="i + 1" />

      <div class="stepActions">
        <button
          *ngIf="i !== test.steps.length - 1"
          (click)="onMoveStepClick(i)"
          class="moveStepButton"
        >
          Move Step
        </button>
        <button (click)="onDeleteStepClick(i)" class="deleteStepButton">
          Delete Step
        </button>
      </div>
    </div>

    <button (click)="onAddStepClick()" class="addStepButton">Add Step</button>
  </div>

  <div class="deleteSection">
    <button (click)="onDeleteTestClick()" class="deleteTestButton">
      Delete Test
    </button>
  </div>
</div>
