.codeView {
/* Size */
width: 70%;

/* Position */
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 2;

 /* Style */
 background-color: white;
 box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);

/* Behavior */
overflow-y: scroll;

}

.errorMessage {
/* Size */

/* Position */

 /* Style */
 color: red;

/* Behavior */

}

.sidebar {
    /* Size */

    /* Position */
    position: relative;
    top: 0;
    bottom: 0;


    /* Style */
    background-color: rgb(30, 30, 30); /* Set the background color of the sidebar */
    color: white;

    /* Behavior */
    overflow-y: auto;
  }

 
  .errorFrame {
  /* Size */
  
  /* Position */
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 90%;
  align-items: center;
  
   /* Style */
  
  /* Behavior */
  
  }
  
 .contentFrame {
    /* Size */

    /* Position */
    padding: 20px;

    /* Style */

    /* Behavior */
    overflow: scroll;

 }

 #checkbox {
  width: 30px;
  height: 30px;
 }

.headersSection {
/* Size */

/* Position */
margin-top: 50px;

 /* Style */

/* Behavior */

}


 .generateCodeButton {
   /* Size */
   
   /* Position */
   position: absolute;
   top: 30px;
   right: 40px;
   width: 50px;
   height: 50px;
   
    /* Style */
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);
   
   /* Behavior */
   
   }



 .scenarioSection {
 /* Size */
 
 /* Position */
 display: flex;
 flex-direction: column;
 align-items: left;
 margin-top: 50px;
 
  /* Style */
 
 /* Behavior */
 
 }
 
 .stepGroup {
 /* Size */
 
 /* Position */
 margin-top: 30px;
 
  /* Style */
 
 /* Behavior */
 
 }

 .subStepGroup {
 /* Size */
 
 /* Position */
 
  /* Style */
  border-left: 4px dashed darkgray;
  padding-left: 20px;

 
 /* Behavior */
 
 }

 .stepElement {
 /* Size */
 
 /* Position */
 margin-bottom: 15px;
 
  /* Style */
 
 /* Behavior */
 
 }
 .stepActions {
 /* Size */
 
 /* Position */
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 
  /* Style */
 
 /* Behavior */
 
 }
 .moveStepButton, .deleteStepButton {
 /* Size */
 width: 50px;
 height: 50px;
 
 /* Position */
margin: 10px;

  /* Style */
 
 /* Behavior */
 
 }

 .flex-grow {
 /* Size */
 flex-grow: 1;
 
 /* Position */
 
  /* Style */
 
 /* Behavior */
 
 }

 .addStepButton {
 /* Size */
 width: 50px;
 
 /* Position */

 /* Style */
 
 /* Behavior */
 
 }

 .deleteSection {
 /* Size */
 
 /* Position */
 display: flex;
 flex-direction: column;
 align-items: center;
 
  /* Style */
 
 /* Behavior */
 
 }
 