.sidebar {
    /* Size */
    width: 200px; 
    height: 750px;

    /* Position */
    position: absolute;

    /* Style */
    background-color: black; /* Set the background color of the sidebar */
    color: white;
    /* Behavior */
  }

 
  
 .contentFrame {
    /* Size */

    /* Position */
    margin-left: 200px;
    padding: 20px;
    position: relative;

    /* Style */
    background-color: lightgray;

    /* Behavior */
    
 }


 .generateCodeButton {
   /* Size */
   
   /* Position */
   position: absolute;
   top: 30px;
   right: 40px;
   width: 50px;
   
    /* Style */
   
   /* Behavior */
   
   }


 .headersSection {
 /* Size */

 /* Position */
 display: flex;
 flex-direction: column;
 align-items: center;
 
  /* Style */
 
 /* Behavior */

 
 }

 .headerElement {
 /* Size */

 /* Position */
 display: flex;


  /* Style */
 margin: 5px;
 /* Behavior */
 
 }

 .scenarioSection {
 /* Size */
 
 /* Position */
 display: flex;
 flex-direction: column;
 align-items: left;
 
  /* Style */
 
 /* Behavior */
 
 }

 .stepElement {
 /* Size */
 
 /* Position */
 display: flex;
 flex: 1;
 align-items: center;
 
  /* Style */
  margin-bottom: 20px;
 
 /* Behavior */
 
 }

 .moveStepButton, .deleteStepButton {
 /* Size */
 width: 50px;
 height: 50px;
 
 /* Position */
margin: 10px;

  /* Style */
 
 /* Behavior */
 
 }

 .flex-grow {
 /* Size */
 flex-grow: 1;
 
 /* Position */
 
  /* Style */
 
 /* Behavior */
 
 }

 .addStepButton {
 /* Size */
 width: 50px;
 
 /* Position */

 /* Style */
 
 /* Behavior */
 
 }

 .deleteSection {
 /* Size */
 
 /* Position */
 display: flex;
 flex-direction: column;
 align-items: center;
 
  /* Style */
 
 /* Behavior */
 
 }