.codeView {
/* Size */
width: 70%;

/* Position */
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 2;
  margin: 10px;

/* Style */
border-radius: 20px;

/* Behavior */
overflow-y: scroll;

}

.mainContainer {
  position: relative;
}


.sidebarContainer {
  /* sidebar container styles */
  position: sticky;
  top: 0;
  height: 100vh;
}

.sidebar {
  /* sidebar styles */
  position: relative;
  background-color: rgb(30, 30, 30);
  color: white;
  height: 100%;
  overflow-y: auto;
}


.errorMessage {
/* Size */

/* Position */

 /* Style */
 color: red;

/* Behavior */

}

.contentContainer
{
   /* Size */

   /* Position */
   padding: 20px;

   /* Style */

   /* Behavior */
   overflow-y: scroll;
   overflow-x: hidden;

}


 
  .errorFrame {
  /* Size */
  
  /* Position */
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 90%;
  align-items: center;
  
   /* Style */
  
  /* Behavior */
  
  }



 #checkbox {
  width: 30px;
  height: 30px;
 }

.headersSection {
/* Size */

/* Position */
margin-top: 50px;

 /* Style */

/* Behavior */

}


 .generateCodeButton {
   /* Size */
   
   /* Position */
   position: absolute;
   top: 30px;
   right: 40px;
   width: 50px;
   height: 50px;
   
    /* Style */
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);
   
   /* Behavior */
   
   }



 .scenarioSection {
 /* Size */
 
 /* Position */
 display: flex;
 flex-direction: column;
 align-items: left;
 margin-top: 50px;
 
  /* Style */
 
 /* Behavior */
 
 }
 
 .stepGroup {
 /* Size */
 
 /* Position */
 margin-top: 30px;
 
  /* Style */
 
 /* Behavior */
 
 }

 .subStepGroup {
 /* Size */
 
 /* Position */
 
  /* Style */
  border-left: 4px dashed darkgray;
  padding-left: 20px;

 
 /* Behavior */
 
 }

 .stepElement {
 /* Size */
 
 /* Position */
 margin-bottom: 15px;
 
  /* Style */
 
 /* Behavior */
 
 }
 .stepActions {
 /* Size */
 
 /* Position */
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 
  /* Style */
 
 /* Behavior */
 
 }
 .moveStepButton, .deleteStepButton {
 /* Size */
 
 /* Position */
 margin-bottom: 10px;

  /* Style */
 
 /* Behavior */
 
 }

 .flex-grow {
 /* Size */
 flex-grow: 1;
 
 /* Position */
 
  /* Style */
 
 /* Behavior */
 
 }

 .addStepButton {
 /* Size */
 width: 50px;
 
 /* Position */

 /* Style */
 
 /* Behavior */
 
 }

 .deleteSection {
 /* Size */
 
 /* Position */
 display: flex;
 flex-direction: column;
 align-items: center;
 
  /* Style */
 
 /* Behavior */
 
 }
 
 .addStepGroupButton {
 /* Size */
 
 /* Position */
 margin-top: 30px;
 
  /* Style */
 
 /* Behavior */
 
 }
 
 .editStepLink {
 /* Size */
 
 /* Position */
 margin-top: 15px;
 
  /* Style */
 
 /* Behavior */
 
 }
 